<h3>Your awesome event is about to be created!</h3>
<form action="/events/create" method="post">
  <input type="text" name="new_event[organizer_name]" placeholder="Organizer's name">
  <input type="email" name="new_event[organizer_email]" placeholder="Organizer's email">
  <input type="text" name="new_event[title]" placeholder="Event Title">
  <input type="date" name="new_event[date]" value="date">
  <input type="submit" value="Create your event!">
</form>
